/wp-content/uploads/*
!wp-content/uploads/.htaccess
/wp-config.php

/wp-content/ai1wm-backups/*
!wp-content/ai1wm-backups/.htaccess
!wp-content/ai1wm-backups/robots.txt

local-xdebuginfo.php

.vscode/